# subvolume to snapshot
SUBVOLUME="{{ config.subvolume }}"

# filesystem type
FSTYPE="{{ options.FSTYPE | default('btrfs') }}"

# btrfs qgroup for space aware cleanup algorithms
QGROUP="{{ options.QGROUP | default('') }}"

# fraction or absolute size of the filesystems space the snapshots may use
SPACE_LIMIT="{{ options.SPACE_LIMIT | default('0.5') }}"

# fraction or absolute size of the filesystems space that should be free
FREE_LIMIT="{{ options.FREE_LIMIT | default('0.2') }}"

# users and groups allowed to work with config
ALLOW_USERS="{{ options.ALLOW_USERS | default('') }}"
ALLOW_GROUPS="{{ options.ALLOW_GROUPS | default('') }}"

# sync users and groups from ALLOW_USERS and ALLOW_GROUPS to .snapshots
# directory
SYNC_ACL="{{ options.SYNC_ACL | default('no') }}"

# start comparing pre- and post-snapshot in background after creating
# post-snapshot
BACKGROUND_COMPARISON="{{ options.BACKGROUND_COMPARISON | default('yes') }}"

# run daily number cleanup
NUMBER_CLEANUP="{{ options.NUMBER_CLEANUP | default('yes') }}"

# limit for number cleanup
NUMBER_MIN_AGE="{{ options.NUMBER_MIN_AGE | default('1800') }}"
NUMBER_LIMIT="{{ options.NUMBER_LIMIT | default('50') }}"
NUMBER_LIMIT_IMPORTANT="{{ options.NUMBER_LIMIT_IMPORTANT | default('10') }}"

# create hourly snapshots
TIMELINE_CREATE="{{ options.TIMELINE_CREATE | default('yes') }}"

# cleanup hourly snapshots after some time
TIMELINE_CLEANUP="{{ options.TIMELINE_CLEANUP | default('yes') }}"

# limits for timeline cleanup
TIMELINE_MIN_AGE="{{ options.TIMELINE_MIN_AGE | default('1800') }}"
TIMELINE_LIMIT_HOURLY="{{ options.TIMELINE_LIMIT_HOURLY | default('10') }}"
TIMELINE_LIMIT_DAILY="{{ options.TIMELINE_LIMIT_DAILY | default('10') }}"
TIMELINE_LIMIT_WEEKLY="{{ options.TIMELINE_LIMIT_WEEKLY | default('0') }}"
TIMELINE_LIMIT_MONTHLY="{{ options.TIMELINE_LIMIT_MONTHLY | default('10') }}"
TIMELINE_LIMIT_YEARLY="{{ options.TIMELINE_LIMIT_YEARLY | default('10') }}"

# cleanup empty pre-post-pairs
EMPTY_PRE_POST_CLEANUP="{{ options.EMPTY_PRE_POST_CLEANUP | default('yes') }}"

# limits for empty pre-post-pair cleanup
EMPTY_PRE_POST_MIN_AGE="{{ options.EMPTY_PRE_POST_MIN_AGE | default('1800') }}"
