## {{ ansible_managed }}

{% for dataset in storage_sanoid_datasets %}

{% if '__comment' in dataset %}
{{ '## ' ~ dataset.__comment }}
{% endif %}
[{{ dataset.__name }}]
{% for key, value in dataset.items() %}
{% if key is not match('__') %}
{{ key }} = {{ value if value is not boolean else ('yes' if value else 'no') }}
{% endif %}
{% endfor %}
{% endfor %}

{% for template in storage_sanoid_templates %}

{% if '__comment' in template %}
{{ '## ' ~ template.__comment }}
{% endif %}
[template_{{ template.__name }}]
{% for key, value in template.items() %}
{% if key is not match('__') %}
{{ key }} = {{ value if value is not boolean else ('yes' if value else 'no') }}
{% endif %}
{% endfor %}
{% endfor %}
